@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Advent Pro Bold'), local('AdventPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/adventpro/v1/M4I6QiICt-ey_wZTpR2gK3bFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

html,body{
	color:#ffffff;
    height:100%;
    background: #39275B;
    /* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #865CD6 0%, #39275B 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #865CD6 0%, #39275B 100%);
	
	/* Opera */ 
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #865CD6 0%, #39275B 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #865CD6), color-stop(1, #39275B));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #865CD6 0%, #39275B 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at center, #865CD6 0%, #39275B 100%);
	font-family: 'Advent Pro', sans-serif;
}
a {
	color:#ffffff;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
#title {
	position:relative;
	margin-top:-100px;
	font-family: 'Advent Pro', sans-serif;
	font-weight: 700;
	font-size:60px;
}

#info {
	position:relative;
	margin-top:50px;
}

.input_wrapper {
    display: table;
    height:100%;
    width: 100%;
}
.input_wrapper form {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

#url {
	outline:0;
	border:0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 25px;
    width: 50%;
    padding: 20px;
}

